---
import { Image } from 'astro:assets'
import Logo from '../assets/logo_outline.svg'
---

<header class="relative z-50 flex w-full flex-wrap py-5 lg:flex-nowrap lg:justify-start">
	<nav
		class="relative mx-auto flex w-full max-w-7xl basis-full flex-wrap items-center px-4 md:px-6 lg:grid lg:grid-cols-12 lg:px-8"
	>
		<div class="flex items-center lg:col-span-3">
			<!-- Logo -->
			<a
				class="flex items-center rounded-xl text-xl font-semibold focus:opacity-80 focus:outline-hidden"
				href="index.html"
				aria-label="Preline"
			>
				<Image
					src={Logo}
					alt="Logotype de Stand Up for yout Brain, représentant un visagé féminin"
					layout="constrained"
					width={65}
					loading="eager"
				/>
				<div class="flex flex-col items-center pl-2 font-sans text-sm font-medium text-white">
					<span> stand up </span>
					<span class="border-t-2 border-t-white"> for your brain </span>
				</div>
			</a>
			<!-- End Logo -->

			<div class="ms-1 sm:ms-2"></div>
		</div>

		<!-- Button Group -->
		<div class="ms-auto flex items-center gap-x-1 py-1 lg:order-3 lg:col-span-3 lg:gap-x-2 lg:ps-6">
			<button
				type="button"
				class="relative flex size-9.5 items-center justify-center rounded-xl border border-gray-200 bg-white text-black hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-neutral-900 dark:text-white dark:hover:bg-white/10 dark:hover:text-white dark:focus:text-white"
			>
				<span class="sr-only">Search</span>
				<svg
					class="size-4 shrink-0"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					><path d="m21 21-4.34-4.34"></path><circle cx="11" cy="11" r="8"></circle></svg
				>
			</button>
			<button
				type="button"
				class="relative flex size-9.5 items-center justify-center rounded-xl border border-gray-200 bg-white text-black hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:bg-neutral-900 dark:text-white dark:hover:bg-white/10 dark:hover:text-white dark:focus:text-white"
			>
				<span class="sr-only">Cart</span>
				<svg
					class="size-4 shrink-0"
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="2"
					stroke-linecap="round"
					stroke-linejoin="round"
					><circle cx="8" cy="21" r="1"></circle><circle cx="19" cy="21" r="1"></circle><path
						d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
					></path></svg
				>
			</button>
			<button
				type="button"
				class="inline-flex items-center gap-x-2 rounded-xl border border-transparent bg-yellow-400 px-3 py-2 text-sm font-medium text-nowrap text-black transition hover:bg-yellow-500 focus:bg-yellow-500 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50"
			>
				Sign in
			</button>

			<div class="lg:hidden">
				<button
					type="button"
					class="hs-collapse-toggle flex size-9.5 items-center justify-center rounded-xl border border-gray-200 text-sm font-semibold text-black hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
					id="hs-pro-hcail-collapse"
					aria-expanded="false"
					aria-controls="hs-pro-hcail"
					aria-label="Toggle navigation"
					data-hs-collapse="#hs-pro-hcail"
				>
					<svg
						class="hs-collapse-open:hidden size-4 shrink-0"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						><line x1="3" x2="21" y1="6" y2="6"></line><line x1="3" x2="21" y1="12" y2="12"
						></line><line x1="3" x2="21" y1="18" y2="18"></line></svg
					>
					<svg
						class="hs-collapse-open:block hidden size-4 shrink-0"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"><path d="M18 6 6 18"></path><path d="m6 6 12 12"></path></svg
					>
				</button>
			</div>
		</div>
		<!-- End Button Group -->

		<!-- Collapse -->
		<div
			id="hs-pro-hcail"
			class="hs-collapse hidden grow basis-full overflow-hidden transition-all duration-300 lg:order-2 lg:col-span-6 lg:block lg:w-auto lg:basis-auto"
			aria-labelledby="hs-pro-hcail-collapse"
		>
			<div
				class="mt-5 flex flex-col gap-x-0 gap-y-4 lg:mt-0 lg:flex-row lg:items-center lg:justify-center lg:gap-x-7 lg:gap-y-0"
			>
				<div>
					<a
						class="relative inline-block text-black before:absolute before:start-0 before:bottom-0.5 before:-z-1 before:h-1 before:w-full before:bg-yellow-400 focus:outline-hidden dark:text-white"
						href="#"
						aria-current="page">Home</a
					>
				</div>
				<div>
					<a
						class="inline-block text-black hover:text-gray-600 focus:text-gray-600 focus:outline-hidden dark:text-white dark:hover:text-neutral-300 dark:focus:text-neutral-300"
						href="#">Listings</a
					>
				</div>
				<div>
					<a
						class="inline-block text-black hover:text-gray-600 focus:text-gray-600 focus:outline-hidden dark:text-white dark:hover:text-neutral-300 dark:focus:text-neutral-300"
						href="#">Product</a
					>
				</div>
				<div>
					<a
						class="inline-block text-black hover:text-gray-600 focus:text-gray-600 focus:outline-hidden dark:text-white dark:hover:text-neutral-300 dark:focus:text-neutral-300"
						href="#">Checkout</a
					>
				</div>
			</div>
		</div>
		<!-- End Collapse -->
	</nav>
</header>
